<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<form action="/rentroomform" method="post">
    <div class="border-b border-gray-900/10 px-6 py-6">
        <input type="hidden" name="email" value="<%=user.email%>">
        <input type="hidden" name="pass" value="<%=user.pass%>">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Rooms Details</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Please enter the following details: </p>
    
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name:</label>
            <div class="mt-2">
              <input type="text" name="name" id="name" autocomplete="given-name" class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
            </div>
          </div>
          <div class="sm:col-span-3">
            <label for="rooms" class="block text-sm font-medium leading-6 text-gray-900">Number of rooms available:</label>
            <div class="mt-2">
                <input type="number" name="rooms" id="rooms" class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" required>
            </div>
          </div>
          <div class="sm:col-span-6">
            <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Address: </label>
            <div class="mt-2">
              <input type="text" name="address" id="address" class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
          <div class="mt-6 flex items-center justify-center gap-x-6">
            <button type="reset" class="text-sm font-semibold leading-6 text-red-600">Reset</button>
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit</button>
          </div>
        </div>
      </div>
    </form>
<%-include("headerfooter/footer")%>