<footer class="bg-yellow-300 py-6 flex justify-center">
    <ul class="flex-col justify-center">
        <li class="text-red-900 text-lg font-semibold">Email : projectrental@org.in</li>
        <li class="text-red-900 text-lg font-semibold">Ph no.: 9999999999</li>
    </ul>
</footer>
</body>
</html>