<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<nav class="flex justify-between px-5 py-6 align-middle bg-yellow-300">
    <h2 class="font-extrabold text-3xl text-red-900">ProjectRentals</h2>
<ul class="flex space-x-5 px-5">
<%var b=tenant==="1"?true:false;%>
<li><a class="hover:text-black text-red-900 visited:text-red-900 text-lg font-bold" href="/home">Home</a></li>
<li hidden="<%=b%>"><a class="hover:text-black text-red-900 visited:text-red-900 text-lg font-bold" href="/rooms">Rooms for rent</a></li>
<li hidden="<%=b%>"><a class="hover:text-black text-red-900 visited:text-red-900 text-lg font-bold" href="/tenantdashboard">Rental's Dashboard</a></li>
<li hidden="<%=!b%>"><a class="hover:text-black text-red-900 visited:text-red-900 text-lg font-bold" href="/ownerdashboard">Owner's Dashboard</a></li>
<li><a class="hover:text-black text-red-900 visited:text-red-900 text-lg font-bold" href="/about">About</a></li>
</ul>
</nav>
