<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/script.js"></script>
</head>
<body>
<nav class="flex justify-between px-5 py-6 align-middle bg-blue-600">
    <h2 class="font-extrabold text-3xl text-white">ProjectRentals</h2>
<ul class="flex space-x-5 px-5">

<li><a class="hover:text-black text-white visited:text-gray-200 text-lg font-bold" href="/thome">Home</a></li>
<li ><a class="hover:text-black text-white visited:text-gray-200 text-lg font-bold" href="/rooms">Rooms for rent</a></li>
<li ><a class="hover:text-black text-white visited:text-gray-200 text-lg font-bold" href="/tenantdashboard">Rental's Dashboard</a></li>

<li><a class="hover:text-black text-white visited:text-gray-200 text-lg font-bold" href="/tabout">About</a></li>
<li><a class="hover:text-black text-white visited:text-gray-200 text-lg font-bold" href="/">Log Out</a></li>
</ul>
</nav>
